<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="Majestys">
<head>
    <meta charset="utf-8" />
    <title>Dessert</title>
    <script src="javascripts/angular/angular.js"></script>
    <script src="javascripts/angular-resource/angular-resource.js"></script>
    <script src="javascripts/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="javascripts/index.js"></script>
</head>
<body>

    <form ng-controller="dessertItems">
        <table class="menu-table" align="center">
            <tr class="menu-tr">
                <th>Image</th>
                <th>Dessert Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
            <tr ng-repeat="dessert in desserts">
                <td>
                    <a><img src="{{dessert.ImageUrl}}" width="200" height="150" /></a>
                </td>
                <td>
                    <h3>
                        {{dessert.Name}}
                    </h3>
                </td>
                <td class="menu-description">
                    {{dessert.Description}}
                </td>
                <td>
                    <input type="number" ng-model="quantity" min="1" max="50" style="height:20px;width:25px;" />
                </td>
                <td>
                    <h4>${{dessert.Price}}</h4>
                </td>
                <td>
                    <input type="submit" ng-click="addToCart(dessert,quantity)" value="Add to Cart" />
                </td>
            </tr>
            <h2 style="text-align:center; color:yellow">{{message}}</h2>
        </table>
    </form>

</body>
</html>